* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: gainsboro;
}

.container {
  text-align: center;
  min-width: 500px;
  min-height: 160px;
  font-size: 16px;
  background-color: #b9a78d;
  padding: 20px;
  box-shadow: 4px 6px 30px #000,
    inset 3px 3px 10px #ccc;
  border-radius: 15px;
}

.container h2 {
  color: white;
  font-size: 32px;
}

.input-box {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;

}

.input-box input {
  font-size: 16px;
  padding: 10px;
  border: none;
  outline: none;
  width: 80%;
  border-radius: 5px;
}

.input-box button {
  font-size: 16px;
  padding: 10px;
  border: none;
  background-color: #69a869;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.list {
  text-align: left;
}

.list li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  color: white;
  padding: 5px 15px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.list .deleteIcon {
  color: #880101;
}